/* body {
    background: lightgrey;
    background-image:url("../images/01-02-02_background-img.jpg")
} */

body {
    background: lightgrey;
    background-image:url("/assests/images/01-02-02_background-img.jpg")
}